﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Truasis Exchange</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
   

 
    <div style="display: flex; flex-direction: column; flex-grow: 1; width: 100%; justify-content: center; align-items:center; height: 100%;"> 
        @RenderBody()
    </div>
 

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Truasis - <a href="https://truasis.com/privacy">Privacy</a>
        </div>
    </footer>
    
</body>
</html>
