﻿@{
    ViewData["Title"] = "Paypal Buy Order Complete";
}
 
    <h1 class="display-4">TRU Purchase Paid - Order Pending Match</h1>
    <h3><a href="https://truasis.com/exchange">Checkout the current exchange order book</a></h3>
 
