﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Order Not Paid";
}

 
    <h1 class="display-4">Payment not on file.</h1>
    <h3><a href="https://truasis.com/orderbook">Checkout the current order book</a></h3>
 
